// Heading Post Gallery Styling

.heading_post_gallery {
    img {

    }
    p {
        margin-top: 5px;
    }
    span {
        height: 2px;
        width: 120px;
        background-color: #000;
        margin: 8px 10px;
    }
}