.georgia {
  font-family: Georgia;
  // font-family: "Bergamo Std";
}

.serif {
  font-family: serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.fw-700 {
  font-weight: 700;
}

.mc {
  width: 90%;
  max-width: 1000000000000000000000000000px;
}
.line {
  height: 4px;
}
.line-thin {
  height: 2px;
}

// .div {
//   display: flex;
//   align-items: center;
//   &::before {
//     content: "";
//     display: block;
//     width: 3rem;
//     height: 2px;

//     background-color: black;
//     margin-right: 1rem;
//   }
//   &::after {
//     content: "";
//     display: block;
//     width: 3rem;
//     height: 2px;

//     background-color: black;
//     margin-left: 1rem;
//   }
// }
