.georgia {
  font-family: Georgia;
  // font-family: "Bergamo Std";
}

.serif {
  font-family: serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.fw-700 {
  font-weight: 700;
}

.my-6 {
  margin-top: 80px;
}

.hh-30 {
  height: 30vh;
}

.hh-50 {
  height: 50vh
}


// Title helper classes
.div-title-line { 
  display: flex;
  align-items: center;
  &::before {
    content: "";
    display: block;
    width: 10.8rem;
    height: 2px;

    background-color: black;
    margin-right: 1rem;
  }
  &::after {
    content: "";
    display: block;
    width: 10.8rem;
    height: 2px;

    background-color: black;
    margin-left: 1rem;
  }
}

.title-container {
  margin: 2.5rem auto;
  min-width: 30rem;
  display: flex;
  justify-content: center;
}